.posts__post {
  width: 40%;
  padding: 1rem;
  background-color: var(--white);
}

.posts__post h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: var(--black);
}

.posts__container {
  display: flex;
  gap: 2rem;
}

.posts__votes {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.posts__votes svg {
  cursor: pointer;
}

.posts__votes p {
  font-weight: 700;
  color: var(--black);
}

.posts__post-info img {
  width: 100%;
}

.posts__post-info__comments {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.4rem;
}

.posts__post-info__comments p {
  font-weight: 700;
  color: var(--black);
}

/* Responsive posts */
@media (max-width: 1200px) {
  .posts__post {
    width: 60%;
  }
}

@media (max-width: 870px) {
  .posts__post {
    width: 80%;
  }
  .posts__post h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 550px) {
  .posts {
    width: auto;
  }

  .posts__post {
    width: 90%;
  }

  .posts__container {
    flex-direction: column-reverse;
    gap: 0;
    align-items: end;
  }
  .posts__votes {
    flex-direction: row;
  }
}
